<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel="icon" href="/img/weather.png"
</head>

<body>
    <div class = "main-content">
        {{>404header}}
        <p></p>
        <h3>{{message}}</h3>
        <p></p>
    </div>

    {{>404footer}}

</body>

</html>


